* {
  transition: opacity 3s ease 5s;
  user-select: none; 
}

body {
  @include fluid-text(20, 13);
 
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.05em;
  color: var(--color-light-text);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
.h2,
h3,
h4 {
  
  font-weight: 400;
}

h1,
.h1 {
  @include fluid-text(138, 62);
  @include mobile-s {
    font-size: 48px;
  }
  @include desktop-above {
    font-size: 150px;
  }
}

h2,
.h2 {
  @include fluid-text(85, 48);
  letter-spacing: -.005em;
  text-transform: uppercase;
  font-weight: 400;
  @include mobile-s {
    font-size: 36px;
  }
  @include desktop-above {
    font-size: 120px;
  }
}

h3,
.h3 {
  @include fluid-text(48, 24);

}

h4,
.h4 {
  @include fluid-text(20, 18);
}


.loaded_hiding .preloader {
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.all-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


.loaded .all-content {
  visibility: visible;
  opacity: 1;
} 


